<!DOCTYPE html>
<html lang="en" ng-app="ToDo">
<head>
    <meta charset="UTF-8">
    <title>To do</title>
    <link href="main.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>To do app</h1>
    </div>
    <div class="main_body">
    <div ng-controller="todoController">
        <form name="frm" ng-submit="addTodo()">
            <input type="text" name="newtodo" ng-model="newtodo" required />
            <button ng-disabled="frm.$inavlid">Add</button>
        </form>
        <button ng-click="clearCompleted()">Clear Completed</button>
        <ul>
            <li ng-repeat="todo in todos">
                <input style="position: relative; list-style-type: none;" type="checkbox" ng-model="todo.done" />
                <span ng-class="{'done':todo.done}">{{todo.title}}</span>
            </li>
        </ul>
    </div>
    </div>
<script src="angular.min.js"></script>
<script>
    angular.module('ToDo', []).
    controller('todoController',['$scope',function($scope){
        $scope.todos = [
            {'title':'Build a todo app','done':false}
        ];
        
        $scope.addTodo = function(){
            $scope.todos.push({'title':$scope.newtodo,'done':false})
            $scope.newtodo = ''
        }
        $scope.clearCompleted = function(){
            $scope.todos = $scope.todos.filter(function(item) {
                return !item.done
            })
        }
    }])
</script>
</body>
</html>
